header {
  background-color: #E5F3F2;
  padding-top: 25px;
  padding-bottom: 15px;
  text-align: center;
  font-family: "Roboto Slab", sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: #6D6E71;
}
span {
  color: #00A79D;
}

h2, .quality {
  font-family: "Roboto Slab", sans-serif;
  font-size: 20px;
  color: #6D6E71;
  padding-bottom: 8px;
}

p {
  font-size: 16px;
  color: #939598;
  padding-bottom: 8px;
}

article {
  margin: 0 65px;
}

input {
  display: block;
  outline: none;
  border: 2px solid lightgray;
  margin: 10px auto;
  padding: 0 5px;
  width: 50%;
  height: 30px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

input:focus {
  border: 2px solid #00A79D;
}

.input-fields {
  background-color: #E5F3F2;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 20px;
}

.submit-btn{
  border: none;
  width: 51%;
  height: 30px;;
  margin: 2px auto;
  background-color: #00A79D;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.submit-btn:hover, .submit-btn:focus{
  outline: none;
  background-color: #045E55;
  cursor: pointer;
}

.idea-container {
  display: flex;
  flex-direction: column;
}

.idea-card {
  position: relative;
  display: inline-block;
  width: 50%;
  margin: 10px auto;
  padding-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  border-bottom: 2px solid #D1D3D4;

}

.quality, h3 {
  display: inline-block;
  font-size: 12px;
  margin: 0 1px;
}

.up-vote, .down-vote, .delete-btn {
  border: none;
  outline: none;
  position: absolute;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.up-vote {
  bottom: 5px;
  left: -10px;
}

.down-vote {
  bottom: 5px;
  left: 25px;
}

.delete-btn {
  top: 0;
  right: 0;
}
