header {
  background-color: #E5F3F2;
  color: #6D6E71;
  font-family: "Roboto Slab", sans-serif;
  font-size: 64px;
  font-weight: 700;
  padding-top: 35px;
  padding-bottom: 20px;
  text-align: center;
}
span {
  color: #00A79D;
}

article {
  margin: 0 100px;
}

input, textarea {
  border: 2px solid lightgray;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  height: 42px;
  margin: 20px auto;
  outline: none;
  overflow: hidden;
  padding: 0 10px;
  resize: none;
  width: 53%;
}

input:focus, textarea:focus {
  border: 2px solid #00A79D;
}

h3 {
  font-family: "Roboto Slab", sans-serif;
}

.input-fields {
  background-color: #E5F3F2;
  padding-top: 1px;
  padding-bottom: 20px;
  text-align: center;
}

.save-btn, .sort-btn{
  background-color: #00A79D;
  border: none;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  height: 45px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 55%;
}

.save-btn:hover, .sort-btn:hover {
  background-color: #045E55;
  cursor: pointer;
  outline: none;
}

.save-btn:focus, .sort-btn:focus {
  border: 2px solid #045E55;
  outline: none;
}

.save-btn:disabled {
  background: lightgray;
  cursor: default;
}

.todo-container {
  display: flex;
  flex-direction: column;
}

.todo-card {
  border-bottom: 2px solid #D1D3D4;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  margin: 25px auto;
  padding-bottom: 10px;
  position: relative;
  width: 55%;

}

.quality, h3 {
  display: inline-block;
  font-size: 20px;
  margin: 0 2px;
  margin-bottom: 20px;
}

.quality {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}


.todo-title, .quality {
  color: #6D6E71;
  font-family: "Roboto Slab", sans-serif;
}

.todo-title {
  font-size: 32px;
  margin-bottom: 20px;
  outline: none;
}

.todo-body {
  color: #939598;
  font-size: 24px;
  line-height: 125%;
  margin-bottom: 30px;
  outline: none;
}

.up-vote, .down-vote, .delete-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  outline: none;
  width: 40px;
}

.up-vote, .down-vote {
  bottom: 35px;
  position: absolute;
}


.time-stamp {
  bottom: 0;
  color: lightgray;
  font-size: 12px;
  position: absolute;
  right: 0;
}

.grey-background{
  background: lightgrey;
  text-decoration: line-through;
}

.search-sort-fields {
  display: flex;
  justify-content: center;
  position: relative;
}

.input-search, .sort-btn {
  margin: 20px 5px;
}

.input-search {
  width: 47%;
}
