header {
  background-color: #E5F3F2;
  color: #6D6E71;
  font-family: "Roboto Slab", sans-serif;
  font-size: 64px;
  font-weight: 700;
  padding-top: 35px;
  padding-bottom: 20px;
  text-align: center;
}

article {
  margin: 0 100px;
}

.todo-container {
  display: flex;
  flex-direction: column;
}

.todo-card {
  border-bottom: 2px solid #D1D3D4;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  margin: 25px auto;
  padding-bottom: 10px;
  position: relative;
  width: 55%;
}

.quality, h3 {
  display: inline-block;
  font-size: 20px;
  margin: 0 2px;
  margin-bottom: 20px;
}


.todo-title {
  font-size: 32px;
  margin-bottom: 20px;
  outline: none;
}

.todo-body {
  color: #939598;
  font-size: 24px;
  line-height: 125%;
  margin-bottom: 30px;
  outline: none;
}
